body {
    background-color: antiquewhite;
}

/* 기본 색을 파랑으로 설정하고 transition 도 넣어봄 */
h1 {
    color: cornflowerblue;
    transition: color 0.5s ease-in-out;
}

/* .active 클래스를 만들어서 토마토 지정 
    ▶ 어떤 element 이든 tomato 색을 가지게 될 것임   
*/
.clicked {
    color: tomato;
}

.sexy-font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}